@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

body {
    font-family: "Inter", sans-serif;
}

.navbar a {
    color: #ffffff;
}

.navbar .container-fluid {
    background-color: #3a2620;
}

.navbar-brand h1 {
    text-transform: uppercase;
}

h1, h2 {
    font-family: "Macondo", sans-serif;
}

.btn {
    margin-left: 10px;
}